extends layout_professor

block content
  p #{classs.name}
  p #{classs.info}
  br
  br
  p 학생명단
  -for(var i=0;i<classs.students.length;i++)
    p #{classs.students[i].sid} #{classs.students[i].name} #{classs.students[i].members[0].team.teamNumber} #{classs.students[i].members[0].point}
  br
  
  -if(!classs.teams)
    p 등록코드 : #{classs._id}
    a(href='/professor/class/'+classs._id+'/team/create') 팀 짜기
  -else
    p 학기 마감하기