doctype html

html(lang='en')
  head
    include ../includes/head
  body
    .wrapper
      include ../includes/sidebar_student
      .main-panel
        include ../includes/navbar
        .content
          .container-fluid
            .row
              .col-lg-4.col-md-5
                .card.card-user
                  .image
                    img(src='/assets/img/background.jpg', alt='...')
                  .card-content
                    .author
                      img(src=user.pic, alt='...')
                      h4.card-title
                        | #{user.name}
                        br
                        a(href='#')
                          small #{user.email}
                      
                  hr
                  .text-center
                    .row
                      .col-md-3.col-md-offset-1
                        h5
                          -if(user.isLeader)
                            | O
                          -else
                            | X
                          br
                          small 조장여부
                      .col-md-4
                        h5
                          | #{user.point}
                          br
                          small 점수
                      .col-md-3
                        h5
                          | #{user.posts.length}
                          br
                          small 게시물수
                      
              .col-lg-8.col-md-7
                form(method='POST' action='/profile/upload' enctype='multipart/form-data')
                  .card
                    .card-header
                      h4.card-title 프로필 사진 업로드
                    .card-content
                      form
                        .row
                          .col-md-12
                            .form-group
                              input.form-control.border-input(type='file' name='file')
                        .text-center
                          button.btn.btn-info.btn-fill.btn-wd(type='submit') 업로드
                        .clearfix
              
                form(method='POST' action='/profile/update')
                  .card
                    .card-header
                      h4.card-title Edit Profile
                    .card-content
                      form
                        .row
                          .col-md-6
                            .form-group
                              label 이름
                              input.form-control.border-input(type='text', value=user.name)
                          .col-md-6
                            .form-group
                              label 학번
                              input.form-control.border-input(type='text', value=user.sid)
                        .row
                          .col-md-6
                            .form-group
                              label 타입
                              input.form-control.border-input(type='text', value=user.type)
                          .col-md-6
                            .form-group
                              label(for='exampleInputEmail1') 이메일 주소
                              input.form-control.border-input(type='email', value=user.email)
                        
                        .text-center
                          button.btn.btn-info.btn-fill.btn-wd(type='submit') 프로필 수정하기
                        .clearfix
        include ../includes/footer
    include ../includes/scripts
